body{
    margin: auto;
    padding:0;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
h1{
    color: blue;
    text-shadow: 15px 9px black;
}
h2{
    color:red ;
}
#mainHeader{
    text-align: center;
    background-color: brown;
    color: aqua;
    margin: -25px;
    
}
#first{
    margin-top: 25px;    
}
.hai{
    margin: 50px;
    font-size: 30px;
    text-align: center;
    text-indent: 25px;
    letter-spacing: 1px;
    line-height: 10px;
    text-decoration:rgb(103, 52, 52) ;
    color: rgb(33, 50, 50);

    
}